name: update
on:
  pull_request:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  update-flake:
    if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=flake:nixpkgs/nixos-unstable
    - run: nix flake update
    - name: Upload flake.lock
      uses: actions/upload-artifact@v4
      with:
        name: updated-flake-lock
        path: flake.lock

  update-addons:
    if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
    needs: update-flake
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=flake:nixpkgs/nixos-unstable
    - run: sh ./update.sh
    - name: Upload addons.nix
      uses: actions/upload-artifact@v4
      with:
        name: updated-addons-nix
        path: addons.nix

  tests:
    needs: [update-flake, update-addons]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=flake:nixpkgs/nixos-unstable
    - name: Download updated flake.lock
      uses: actions/download-artifact@v4
      with:
        name: updated-flake-lock
    - name: Download updated addons.nix
      uses: actions/download-artifact@v4
      with:
        name: updated-addons-nix
    - run: nix flake check
    - run: nix build .#all-addons-combined

  push-update:
    if: ${{ github.ref_name == github.event.repository.default_branch }}
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Download updated flake.lock
      uses: actions/download-artifact@v4
      with:
        name: updated-flake-lock
    - name: Download updated addons.nix
      uses: actions/download-artifact@v4
      with:
        name: updated-addons-nix
    - run: git config --global user.email "action@github.com"
    - run: git config --global user.name "GitHub Action"
    - run: git add flake.lock addons.nix
    - run: git diff --staged --quiet || (git commit -m "update" && git push)
